#home
  .header
    @media screen and (min-width: 60em)
      transform: translate3d(50%, 0, 0)
      bottom: 0
      right: 0
      top: 0
    @media screen and (max-width: 30em)
      transform: scale(1.5, 1.5)

#product
  .mb6-l
    @media screen and (min-width: 60em)
      margin-bottom: 9.39rem

  .subheader
    @media screen and (min-width: 60em)
      min-width: 24rem
      height: 35rem
    @media screen and (max-width: 30em)
      min-width: 100%
      height: auto

.dual-images
  @media screen and (min-width: 60em)
    height: 35rem

.patterns
  transition: all 0.15s ease-in-out
  background: $brand-green

  &.pattern-1
    background: url('/img/patterns/pattern-1.jpg') no-repeat center center
    background-size: cover

    @media screen and (min-width: 60em)
      background-attachment: fixed

  &.pattern-2
    background: url('/img/patterns/pattern-2.jpg') no-repeat center center
    background-size: cover

    @media screen and (min-width: 60em)
      background-attachment: fixed

  &.pattern-3
    background: url('/img/patterns/pattern-3.jpg') no-repeat center center
    background-size: cover

    @media screen and (min-width: 60em)
      background-attachment: fixed

  &.pattern-4
    background: url('/img/patterns/pattern-4.jpg') no-repeat center center
    background-size: cover

    @media screen and (min-width: 60em)
      background-attachment: fixed

  &.pattern-5
    background: url('/img/patterns/pattern-5.jpg') no-repeat center center
    background-size: cover

    @media screen and (min-width: 60em)
      background-attachment: fixed

.tri-images
  height: 35rem

  @emedia screen and (min-width: 30em)
    height: auto

.related
  .image
    height: 12rem

.partners
  white-space: nowrap
  overflow-x: auto

.mailchimp
  a
    border: 2px solid black
    text-decoration: none
    font-weight: bold
    display: block
    margin: 1rem auto 0 auto
    padding: 0.5rem 1rem
    color: inherit

    &:hover
      opacity: 0.5

.product-main
  min-height: 50rem

.role
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)

  &:last-of-type
    border-bottom: none