/* Imports */
@import 'animations';
@import 'variables';
@import 'pagination';
@import 'slideshow';
@import 'landing';
@import 'banner';
@import 'footer';
@import 'modal';
@import 'nav';

/* Animation classes */
.animate-up {
  animation: bottom-up 0.5s normal forwards ease-in-out 4s;
}

.animate-down {
  animation: bottom-down 0.5s normal forwards ease-in-out;
}

.bounce-h {
  animation: bounce-h 2s infinite 2s;
}

.bounce {
  animation: bounce 2s infinite 2s;
}

/* Box sizing partial styles: */
/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Color classes */
.bg-gradient {
  background: white;
  background: linear-gradient(45deg, #e8fff8 0%, white 100%);
}
.bg-brand-near-white {
  background: $near-white;
}
.bg-brand-black {
  background: $brand-black;
}
.bg-brand-green {
  background: $brand-green;
}
.bg-brand-blue {
  background: $brand-blue;
}
.bg-brand-navy {
  background: $brand-navy;
}
.brand-near-white {
  color: $near-white;
}
.brand-black {
  color: $brand-black;
}
.brand-green {
  color: $brand-green;
}
.brand-blue {
  color: $brand-blue;
}
.brand-navy {
  color: $brand-navy;
}
.bg-brand-near-white-l {
  @media screen and (min-width: 60em) {
    background: $near-white;
  }
}

.bg-brand-green-l {
  @media screen and (min-width: 60em) {
    background: $brand-green;
  }
}
.bg-brand-blue-l {
  @media screen and (min-width: 60em) {
    background: $brand-blue;
  }
}
.brand-green-l {
  @media screen and (min-width: 60em) {
    color: $brand-green;
  }
}
.brand-blue-l {
  @media screen and (min-width: 60em) {
    color: $brand-blue;
  }
}

/* Gradient text */
.gradient-text {
  background: linear-gradient(to right, #ff5722 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  background-size: 100%;
  border-radius: 4px;
  background: transparent;
  z-index: 1;

  &:before {
    transition: 0.5s;
    background: white;
    position: absolute;
    z-index: -1;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  &:after {
    border-radius: 4px;
    background: linear-gradient(
      60deg,
      #ffac00,
      #ff8900,
      #ef4e7b,
      #3579ff,
      #3579ff,
      $brand-blue,
      #07b39b,
      $brand-green
    );
    background-size: 300% 300%;
    animation: gradient-button 3s ease alternate infinite;
    position: absolute;
    z-index: -2;
    content: '';
    height: calc(100% + 3px * 2);
    width: calc(100% + 3px * 2);
    left: calc(-1 * 3px);
    top: calc(-1 * 3px);
  }
}

/* App */
html,
body {
  overflow-x: hidden;
}

html {
  font-size: 18px;
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-family: $primary-fonts;
  background: white;
  transition: all 0.2s ease-in-out;
}

textarea,
button,
input,
a {
  transition: all 0.2s ease-in-out;
  border: none;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

button,
a {
  outline: none;
}

.link:visited,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link {
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

img {
  &.scale {
    object-fit: contain;
    overflow: hidden;
  }

  &.fit {
    object-fit: cover;
    overflow: hidden;
  }
}

.inherit {
  color: inherit;
}

.lh-body {
  line-height: 1.85;
}

.overlay-gradient {
  &:after {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;

    @media screen and (min-width: 60em) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    }
  }
}

.overlay {
  &:after {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
  }
}

.preline {
  white-space: pre-line;
}

.vh-100-l {
  @media screen and (min-width: 60em) {
    height: 100vh;
  }
}

.vh-60-l {
  @media screen and (min-width: 60em) {
    height: 60vh;
  }
}

.f-subtitle {
  @media screen and (min-width: 60em) {
    font-size: 2rem;
  }
}

.h1-5 {
  height: 1.5rem;
}

.w1-5 {
  width: 1.5rem;
}

.h2-5 {
  height: 2.5rem;
}

.w2-5 {
  width: 2.5rem;
}

.w-25-l {
  @media screen and (min-width: 60em) {
    width: 25%;
  }
}

.shadow-light {
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
}

.w-25-l {
  @media screen and (min-width: 60em) {
    width: 25%;
  }
}

.form {
  input {
    @media screen and (min-width: 60em) {
      flex: 1 1 auto;
    }
  }

  button {
    @media screen and (min-width: 60em) {
      flex: 0 0 auto;
    }
  }

  input,
  button {
    @media screen and (max-width: 30em) {
      width: 100%;
    }
  }
}

hr {
  border-top: none;
}

.bw2 {
  border-width: 0.18rem;
}

.logo {
  width: 5.5rem;
}
.read-more-button {
  text-decoration: underline;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  margin-top: 1rem;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  bottom: 0;
  left: 0;
  color: $brand-navy;
  width: 100%;

  &:hover {
    transform: translate3d(0, -0.1rem, 1rem);
    cursor: pointer;
  }
}

.post {
  p {
    width: 100%;
  }
}

.caption {
  margin-top: 0.5rem;
}
